/* -------------------------------
  # global nav 
----------------------------------  */
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0 15px;
  width: auto;
}
.haeder-padding {
  padding: 0 0 0 1em;
}

/* -------------------------------
  # main visual 
----------------------------------  */
.main-image {
   position: relative;
/* height: 200px;*/
   padding-top: 18%; 
   margin-bottom: 20px;
/* line-height: 60px; */
   background: url("../img/IMG_0071_main.jpg") no-repeat 50% 50%;
   overflow: hidden;
}

.main-copy {
  position: relative;
  text-align: center;
  color: #FFFFFF;
  padding: 0 2em 0 2em;
}
.main-text {
  position: relative;
  font-size: 1.2em;
  text-align: center;
  color: #FFFFFF;
  padding: 0 2em 1em 2em;
}
/*# container */
.container{
  padding: 0 0 2em 0;
}

/*# h2 */
.h2_center{
  text-align: center;
  padding: 0 0 1em 0;
}

/* -------------------------------
  # card design (for Smart Phone)
  # this must be BEFORE PC ver
----------------------------------  */
.card {
  width: 100%;
  height: 240px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  clear: both;
  position: relative;
  margin:0.5em 0 2em 0;
}
.card-img{
  float: left;
  width: 40%;
}
p.card-img-thumb {
  border-radius: 5px 0 0 5px;
  display: block;
  width: 100%;     /*トリミング後の横幅*/
  height: 240px;   /*トリミング後の縦幅*/
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.thumb-src {
  float: left;
  position: absolute;
}
.card-block {
  width: 50%;
  padding: 5px;
  float: left;
}
.card-block-title {
  text-align: left;
  color: #333;
  height : 45px;
}
.card-block-text {
  color: #777;
  line-height: 1.5;
  height : 170px;
  overflow: hidden;
}

/* -------------------------------
  # card design (for PC).
  # this must be AFTER smart phone ver.
  # ALL atributes must be overwrote.
----------------------------------  */
@media (min-width: 768px) {
  .card {
    width: 100%;
    height: 380px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    margin-top: 0px;
    clear: both;
    position: static;
  }
  .card-img {
    float: none;
    width: 100%;
  }
  p.card-img-thumb{
    border-radius: 5px 5px 0 0;
    display: block;
    width: 100%;     /*トリミング後の横幅*/
    height: 180px;   /*トリミング後の縦幅*/
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  .thumb-src {
    float: left;
    position: absolute;
  }
  .card-block {
    width: 100%;
    padding: 0px 10px 5px 10px;
    float: none;
  }
  .card-block-title {
    text-align: left;
    color: #333;
    height : 45px;
  }
  .card-block-text {
    color: #777;
    line-height: 1.5;
    height : 125px;
    overflow: hidden;
  }
}

/* -------------------------------
  # card design (common)
----------------------------------  */
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}


/* -------------------------------
  # div for prototype
----------------------------------  */
.group{
  padding: 2em 0;
  border-bottom: 1px; 
}

/* -------------------------------
  # tab
----------------------------------  */


/* -------------------------------
  # 1 column article (for Smart Phone)
  # this must be BEFORE PC ver
----------------------------------  */
.img_size{
  width: 100%;
}

.clear{
  clear: both;
}

/* -------------------------------
  # commodity : main image
----------------------------------  */
.commodity {
  padding-bottom: 5%;
}
.commodity-main {
  padding-bottom: 0;
}
.commodity-main-thumb {
  padding: 20px 0px 0px 0px;
  overflow: hidden;
  width: 100%;
  list-style-type: none;
}
.commodity-main-thumb li {
  float: left;
  width: 25%;
/*  padding: 0px 20px 0px 0px; */
  padding: 10px;
}
.commodity-main-thumb li img {
  width: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50); 
  border: solid 1px;
}
.commodity-main-thumb li.current img {
  width: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  border: solid 1px;
}
.commodity-main-img {
  position: relative;
  width: 100%;
  height: auto;
}
.commodity-main-img img {
  position: absolute;
  top:0;
  width: 100%;
  border: solid 1px;
}

/* -------------------------------
  # commodity : other part meat
----------------------------------  */
.commodity-other {
  padding-top: 10%;
  padding-bottom: 90%;
  clear: both;
}
@media (min-width: 768px) {
  .commodity-other {
    padding-top: 10%;
    padding-bottom: 0%;
    clear: both;
  }
}
.commodity-other-part-img {
  width: 100%;
  border: solid 1px;
}
.commodity-other-part-caption {
  text-align: left;
}

/* -------------------------------
  # commodity : other classes
----------------------------------  */
.commodity-title {
  padding: 0px;
}
.commodity-info {
  padding: 1% 0% 3% 0%;
  border: solid 1px;
  margin-bottom: 5%;
}
.commodity-info-title {
  padding: 0% 0% 1% 3%;
  font-size: 1.2em;
}
.commodity-info-main {
  padding: 0% 5%;
}

/* -------------------------------
  # recipies and other information
----------------------------------  */
.information {
  border-top: solid 1px;
  width: 100%;
  padding-bottom: 5%;
  clear: both;
}
.information-title {
  padding: 3% 0%;
}
.information-item {
  padding-top: 0;
}
.information-item-img {
  width: 100%;
  border: solid 1px;
}
.information-item-date {
  text-align: left;
  font-size: 0.8em;
}
.information-item-title {
  margin-top: -2%;
  text-align: left;
  font-size: 1.2em;
}
.information-item-more {
  padding-top: 30%;
}

/* -------------------------------
  # footer
----------------------------------  */
.footer {
  text-align: center;
  padding: 0.5ex;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.copyright{
  position: relative;
}
